<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538098630967-427jlmm0ggi1ad74lprvrivthir2vero.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538098630967-427jlmm0ggi1ad74lprvrivthir2vero</string>
	<key>API_KEY</key>
	<string>AIzaSyAtQx46o8RTbn3idXqLROZSvYSFKFkW8Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>538098630967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xif.KeepKaizen</string>
	<key>PROJECT_ID</key>
	<string>keep-kaizen</string>
	<key>STORAGE_BUCKET</key>
	<string>keep-kaizen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538098630967:ios:722055a74e9e47c6</string>
	<key>DATABASE_URL</key>
	<string>https://keep-kaizen.firebaseio.com</string>
</dict>
</plist>